<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="unity"
		type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
	</configSections>
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

		<namespace name="MyProgram"/>
		<assembly name="MyProgram"/>
		<alias alias="ILogger" type="MyProgram.ILogger, MyProgram"/>
		<alias alias="Logger" type="MyProgram.Logger, MyProgram"/>
		
		

		<container >
			<register type="ICalculator" mapTo="CatCalc" name="CatCalcName"/>
			<register type="ICalculator" mapTo="PlusCalc" name="PlusCalcName"/>
			<register type="ICalculator" mapTo="StateCalc" name="StateCalcName">
				<lifetime type="Unity.Lifetime.ContainerControlledLifetimeManager,Unity.Abstractions"/>
				<constructor>
					<param name="num" value="1"/>
				</constructor>
			</register>

			<register type="Worker" name="Worker1CatCalc">
				<constructor>
					<param name="calculator" type="ICalculator">
						<dependency name="CatCalcName"/>
					</param>
				</constructor>
			</register>

			<register type="Worker2" name="Worker2PlusCalc">
				<property name="iCalculator">
					<dependency name="PlusCalcName"/>
				</property>
			</register>

			<register type="Worker3" name="Worker3CatCalc">
				<method name="CalculatorSet">
					<param name="iCalculatornew" type="ICalculator">
						<dependency name="CatCalcName"/>
					</param>
				</method>
			</register>






			<register type="Worker" name="state">
				<constructor>
					<param name="calculator" type="ICalculator">
						<dependency name="StateCalcName"/>
					</param>
				</constructor>
			</register>

			<register type="Worker2" name="state">
				<property name="iCalculator">
					<dependency name="StateCalcName"/>
				</property>
			</register>

			<register type="Worker3" name="state">
				<method name="CalculatorSet">
					<param name="iCalculatornew" type="ICalculator">
						<dependency name="StateCalcName"/>
					</param>
				</method>
			</register>






		</container>

	</unity>
</configuration>