<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="zad5" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="zad6" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:15163/Service1.svc/zad5"
                binding="basicHttpBinding" bindingConfiguration="zad5" contract="ServiceReference1.IZadanie5"
                name="zad5" />
            <endpoint address="http://localhost:15163/Service1.svc/zad6"
                binding="wsDualHttpBinding" bindingConfiguration="zad6" contract="ServiceReference1.IZadanie6"
                name="zad6">
                <identity>
                    <userPrincipalName value="DESKTOP-DUVVDDN\chudy" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>